<h1>New Wiki</h1>
<p>Guidelines for new wikis:</p>
	<ul>
     <li>Make sure content is appropriate.</li>
     <li>Please don't create duplicate Wiki Subjects</li>
     <li>Create either a private or public Wiki at the end.</li>
     <li>Include any users as collaborators on the side.</li>
   </ul>
 </p>
<div class="row">

	<div class="span6">
		<%= form_for @wiki, html: {class: 'form-horizontal'} do |w| %>

			<div class="control-group">
				<%= w.label :title, class: 'control-label' %>
				<div class="controls">
					<%= w.text_field :title %>
				</div>
			</div>

			<div class="control-group">
				<%= w.label :body, class: 'control-label' %>
				<div class="controls">
					<%= w.text_area :body %>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<% if current_user.role != 'member' %>
						<%= w.label :public, class: 'checkbox' do %>
							<%= w.check_box :public %> Public Wiki
						<% end %>
					<% end %>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<%= w.submit "Save", class: 'btn' %>
				</div>
			</div>

		<% end %>
	</div>

	<div class="span6">

		

	</div>

</div>