<!DOCTYPE html>
<html>
<head>
	<title>Blocipedia</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
			<li> <%= link_to "Home", root_path %> </li>
			<li> <%= link_to "About", about_path %> </li>
			<li> <%= link_to "Wikis", wikis_path %> </li>
		
			<div class="pull-right user-info">
				<% if current_user %>
					Hello <%= current_user.email %>!
					<%= link_to destroy_user_session_path, method: :delete, class: 'button' do %>
						Sign Out
					<% end %>
				<% else %>
					<%= link_to "Sign In", new_user_session_path %> or
					<%= link_to "Sign Up", new_user_registration_path %>
				<% end %>
			</div>
		</ul>

		<%= yield %>
	</div>
</body>
</html>
